/*	755 x 425, problem w/body margin-or-padding 0
	orange 	- D1503D
	grey 	- 434343
	offwhit	- F1F8EE
*/
html,body{height:100%;}
body#d{margin:1px !important; padding:0 !important; overflow:auto !important; font-size:9pt;}
body {background:#F1F8EE none no-repeat fixed 160px bottom; font:normal normal normal 1em/140% "Arial",sans-serif;}
header h1 {display:none;}
header img{margin:1em 10px;}
footer .copy{display:none;}
a,a:hover{color:#D1503D;text-decoration:none;}
a:hover{text-decoration:underline}
.content{float:left;width:300px;margin-bottom:1em;position:fixed;}
.zurp a{display:block; text-transform:uppercase; font-size:1em; color:#434343; margin:1ex 0 0; padding:1ex 10px 0; border-top:1px solid #ccc;}
.zurp a:hover,.zurp a:active{color:#D1503D;}
footer{margin-left:160px;display: none;}
/* header, */
.bzz{background-color:rgba(241,248,238,0.7);}

/* Lifestream */
.bzz{width:350px; overflow:auto; float:right; border-left:1px solid #ccc}
.bzz ul {padding: 10px;list-style-type: none;}
.bzz li {padding: 5px 3px 5px 25px;background-repeat: no-repeat;background-position: left center;}
.bzz .timeago {opacity: .5;}

@media (max-height: 300px) {
	.content{position:static;}
}

@media (max-width: 767px) {
	.bzz,footer{display:none;}
}

@media (min-width:768px) {
	body#d{background-image:url('../img/elephant.png')}
}

@media (min-width: 981px) {
	.wrap{min-height: 100%; height: auto !important; height: 100%; margin: 0 auto -351px;}
	.mmm{position:absolute; left:200px; bottom:0;}
	footer, .mmm {height: 351px;}
}
@media (min-width:768px) and (max-height: 450px) {
	body#d{background-image:url('../img/elephant-r.png');}
}
@media (min-width: 1125px) {
	body#d{background-image:url('../img/elephant-r.png');}
}